body {
    font-family: Arial, sans-serif;
        /* Set the URL of your background image */
        background-image: url('assets/barcelona/SAM_1340.JPG');
    
        /* Make the background image cover the entire page */
        background-size: cover;
        
        /* Set the background image to no repeat */
        background-repeat: no-repeat;
        
        /* Fix the background image so it doesn't scroll with the page */
        background-attachment: fixed;
        
        /* Optional: Add a background color that will be displayed while the image is loading */
        background-color: #ffffff; /* You can change this color to match your site's theme */
    }
    .gallery h2 {
        background-color: rgba(255, 255, 255, 0.8); /* White background with opacity */
        padding: 10px;
        border-radius: 5px;
    }
    
    .photos img {
        border: 3px solid #fff; /* White border around photos for better distinction */
        margin: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow to lift off the background */
    }
    


header, footer {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    color: black;
    text-align: center;
    padding: 1em;
}

/* Add more styles as needed */
